<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>
            hello
        </h1>
    </header>
        @RenderBody()
<footer>
    <h1>
        hello
    </h1>
</footer>
</body>
</html>
